
@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>

<html>
<head>
</head>
<body>
    <div id="form">
        <h2 id="t1">Login page</h2>
        <form action="Main/CheckLogin" method="get">
            <p>
                <label class="lab">Username: </label>
                <input type="text" id="uname" name="uname">

            </p>
            <p>
                <label class="lab">Password: </label>
                <input type="password" id="secretNo" name="secretNo">

            </p>
            <p>

                <input type="submit" id="btn" value="Login">

            </p>
        </form>
    </div>



</body>


</html>
